body { /* Background and main text container */
  background-color: rgb(21, 21, 21);
  font-family: Arial, serif;
  background-image: url('images/background.jpg');
  background-size: 400px 400px;
}

h1 {  /* Top bar and navigation menu */
  color: rgb(255, 255, 255);
  text-shadow: 6px 6px 4px rgb(20, 20, 20);
  background-color: rgb(41, 41, 41);
  font-family: Arial, serif;
  z-index: 1;
}

h2 { /* Titles and headers */
  margin: 4%;
  color: rgb(255, 255, 255);
  background-color: rgb(60, 60, 60);
  text-shadow: 4px 4px 5px rgb(20, 20, 20);
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

nav {
  color: rgb(255, 255, 255);
  background-color: rgb(41, 41, 41);
  text-shadow: 0px 0px 10px rgb(255, 0, 0);
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

nav a:link { color: #ffffff; }
nav a:visited { color: #ffffff; }
nav a:hover { color: #b0b0b0; }
nav a:active { color: #484848; }

section { /* A body of text, images and content */
  margin: 4%;
  color: rgb(255, 255, 255);
  background-color: rgb(60, 60, 60);
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;

  box-sizing: border-box;
}

section a:link { color: rgb(255, 179, 0); }
section a:visited { color: rgb(255, 179, 0); }
section a:hover { color: rgb(100, 100, 255); }
section a:active { color: rgb(200, 129, 0); }

img{
  margin: 10px;
}

hr{
  height: 1px;
  background-color: #8a8a8a;
  border: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(41, 41, 41);
  color: rgb(255, 255, 255);
  text-align: center;
}

.button {
  background-color: #7a7a7a;
  border: none;
  margin-inline: 15px;
  color: rgb(255, 255, 255);
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.2s;
  cursor: pointer;
  text-shadow: 3px 3px 4px rgb(20, 20, 20);
}

.center {
  margin: auto;
  width: 100px;
}

.padding{
  padding: 10px;
}

.button:hover {
  background-color: #585858; /* Green */
}

.container{
  background-color:rgb(41,41,41);
  display: flex;
  align-items: center;
  justify-content: left;
}

.container2{
  display: flex;
  align-items: center;
  justify-content: left;
}

.horizontallayout{
  display: flex;
  align-items: center;
  justify-content: center;
}

.centrelist{
  margin: auto;
  width: 100px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listrow{
  margin-left: auto;
  margin-right: auto;
  display: list-item;
  list-style-type: none;
}